{
  "cas_url" : "",
  "service_url" : "",

  "path_cert_key" : "",
  "path_cert" : "",

  "session_secret_key" : "",

  "opencast_authentication" : "",
  "opencast_events_url" : "",
  "opencast_series_url" : "",
  "opencast_cert" : "",
  "opencast_workflow" : "",
  "opencast_workflow_audio" : "",

  "path_ldap_uca": ""

  "mail_host" : "",
  "mail_port" : 25,
  "mail_from" : "",
  "mail_to" : "",

}