{
  "cas_url" : "https://xxxxxxxx/cas",
  "service_url" : "https://application_url.fr",

  "path_cert_key" : "cert/xxx-key.pem",
  "path_cert" : "cert/xxxx.pem",

  "session_secret_key" : "xxxxxx",

  "opencast_authentication" : "xxxxxx",
  "opencast_events_url" : "/api/events",
  "opencast_series_url" : "/api/series",
  "opencast_cert" : "cert/xxxxxx.pem",
  "opencast_workflow" : "schedule-and-upload",
  "opencast_workflow_audio" : "audio",

  "moodle_url" : "xxxxxxxxxxxxx",

  "path_ldap_uca": "ldaps://xxxxxx:636"

  "mail_host" : "",
  "mail_port" : 25,
  "mail_from" : "",
  "mail_to" : "",

  "path_log_file_events" : ""
  "path_folder_record" : ""

  "client_config" : {
    "doc_link_enable" : false,
    "doc_link_path_ucastudio" : "",
    "doc_link_path_ucamedia" : "",
    "managed_my_media_enable": false,
    "managed_my_media_path": "",
    "path_check_speed_ntwk" : ""
  },

  "ENABLE_MAINTENANCE_MOD" : "false",
  "INFO_MAINTENANCE_MOD" : "Attention ! UCAstudio sera en maintenance le jeudi 09 Juillet de 12h à 17h.'

}