@media only screen and (max-width:1300px) {
	#streamsSection #videoView .labelMicSelect, #streamsSection #videoView .labelCamSelect {
	    white-space: nowrap !important;
	    overflow: hidden !important;
	    text-overflow: ellipsis !important;
	 }

	.active.audioDevice .placeholder, .active.audioDevice .shadow {
		top: calc(50% - -0.7rem);
	}

	.mediadevice canvas {
		top: calc(50% - -1rem);
	}

	.pull-left {
 		width: 20%;
	}

	.placeholder {
 	    width: 10rem;
    	height: 8rem;
	}
}

@media only screen and (max-width:1100px) {
	#streamsSection #videoView .streamControls label[for^=inputSource],
	#streamsSection #videoView .labelCamSelect,
	#streamsSection #videoView .labelMicSelect {
 		max-width: 25%;
	}

}


@media only screen and (max-width:480px) {
	#mainSection h1, #streamsSection h1 {
		margin-top: 1em !important;
	}

	#alertBrowser, #alertBrowserVersion {
		top: 3em !important;
	}
}


